.container {
    display: flex;
}
.box {
    width:50%;
    padding: 20px;
    border: 1px solid black;
}
body {
    background-color: #0A192F;
    color: #E6F1FF;

}
/* nav a {
    background-color: rgb(235, 170, 235);
    padding: 1%;
    font-size: larger;
    font-weight: 1000;
    border-radius: 10px;
} */
nav a {
    background-color: #4FD1C5;
    border-color: rgb(170, 170, 239);
    color: #2C2C34;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: #52D4BA;
}
